TS_AUTHKEY=TOKEN
R7525_01_NETDATA_IP=YOUR_IP_HERE
RX2540M4_01_NETDATA_IP=YOUR_IP_HERE
PROMETHEUS_UID=1000
PROMETHEUS_GID=1000
GRAFANA_UID=472
GRAFANA_GID=472
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
